.ranking {
    user-select: none;
}

.ranking-container {
    width: 400px;
    height: 600px;
    position: absolute;
    z-index: 10;
    display: none;
}

.ranking-background {
    position: absolute;
    z-index: -1;
}

.ranking-title {
    color: white;
    font-family: 'a Autobus Omnibus', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    text-shadow: -4px 4px 7px black;
    position: absolute;
    left: calc(50% - 81px);
    top: 62px;
}

.ranking-list-container {
    color: white;
    position: absolute;
    font-family: 'a Autobus Omnibus', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    left: calc(50% - 187px);
    top: 150px;
}

.ranking-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.ranking-list li:nth-child(n+2):nth-child(-n+5) {
    margin-top: 20px;
}


.ranking-player {
    background: linear-gradient(0deg, rgb(31, 31, 31), #505050);
    border: 2px solid black;
    /* padding: 6px 0px 6px 0px; */
    width: 370px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
} 

.ranking-player-first {
    position: relative;
    width: 370px;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    margin: auto 0;
    background: linear-gradient(0deg, #000, #272727);
    border: 2px solid black;
}


.ranking-player-first:before, .ranking-player-first:after {
    content: '';
    filter: blur(10px);
    position: absolute;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
}
  
.ranking-place {
    margin-left: 10px;
    flex-shrink: 0;
    flex-basis: 35px;
    text-align: right;
}

.ranking-username {
    flex-grow: 1;
    text-align: center;
}

.ranking-score {
    flex-shrink: 0;
    flex-basis: 70px;
    margin-right: 10px;
    text-align: center;
}

.back-menu {
    font-family: 'a Autobus Omnibus', sans-serif;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: -4px 4px 7px black;
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 75px/2);
    bottom: 70px;
}

.back-menu:hover {
    transform: scale(1.3);
    text-shadow: rgba(255, 102, 0, 0.9) 0px 0px 9px;
}