.initial-game-screen {
    position: relative;
    margin: 0px;
    height: 600px;
    width: 400px;
    z-index: 10;
}

.game-logo {
    position: absolute;
    text-align: center;
    top: 0px;
}

.game-logo p {
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: -4px 4px 7px black;
    margin-bottom: 20px;
    text-shadow: rgba(255, 102, 0, 0.9) 0px 0px 9px;
    font-family: 'Press Start', sans-serif;
    line-height: 40px;
}

.game-menu {
    position: absolute;
    top: 240px;
    left: 120px;
    text-align: center;
}

.game-menu p {
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: -4px 4px 7px black;
    margin-bottom: 10px;
    cursor: pointer;
}

.game-menu p:hover {
    transform: scale(1.3);
    text-shadow: rgba(255, 102, 0, 0.9) 0px 0px 5px;
}

.game-footer {
    position: absolute;
    bottom: 10px;
    left: 100px;
    text-align: center;
}

.game-footer p{
    font-size: 10px;
    text-transform: uppercase;
    text-shadow: -4px 4px 7px black;
}

.game-footer a {
    text-decoration: none;
    color: rgb(255, 102, 0)
}

.game-footer a:hover {
    border-bottom: 2px dotted rgb(255, 102, 0) ;
}

.game-footer a:visited {
    color: rgb(255, 102, 0);
}